// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#books_index {
  .more-book-btn {
    width: 120px;
  }
  @media (min-width: 768px) {
    .more-book-btn {
      margin-left: 110px;
    }
  }  
}

.container-big-picture{
	padding:20px 0;
	margin-top:10px;	
}
.select-editorial{
  width : 90%;
}
  .container-icon-add{
    display:block;
    float:left;
}
#error_explanation{
  color:red;
}

div.table-sortable div.sortable .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

div.table-sortable div.sortable .asc {
  background-image: url(/images/up_arrow.gif);
}

div.table-sortable div.sortable .desc {
  background-image: url(/images/down_arrow.gif);
}