<h1>Editar Autor</h1>

<%= render 'form' %>

<div class="pull-right">
	<%= link_to 'Ver' , @author, :class=>"btn btn-default btn-sm", :role =>"button" %> 
	<%= link_to 'Volver', authors_path, :class=>"btn btn-default btn-sm", :role =>"button"  %>
</div>
