<h1>Editing book</h1>

<%= render 'form' %>

<div class="pull-right">
	<%= link_to 'Show' , @book, :class=>"btn btn-default btn-sm", :role =>"button" %> 
	<%= link_to 'Back', books_path, :class=>"btn btn-default btn-sm", :role =>"button"  %>
</div>
