<h1>Editar Libro</h1>

<%= render 'form' %>

<div class="pull-right">
	<%= link_to 'Ver' , @book, :class=>"btn btn-default btn-sm", :role =>"button" %> 
	<%= link_to 'Volver', books_path, :class=>"btn btn-default btn-sm", :role =>"button"  %>
</div>
