<h1>Editar Editorial</h1>

<%= render 'form' %>

<div class="pull-right">
	<%= link_to 'Ver' , @editorial, :class=>"btn btn-default btn-sm", :role =>"button" %> 
	<%= link_to 'Volver', editorials_path, :class=>"btn btn-default btn-sm", :role =>"button"  %>
</div>
